*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl*
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pyg
*.run.xml
*.snm
*.synctex*
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.html
*.xdy
*.dpth
*.xml
*blx.bib
*.bcf*
.bak 
.mtc
build/
